<app-nav-bar></app-nav-bar>

<!-- <p>read-reviews works!</p> -->
<div class="review_cards_container">
    <mat-card class="review_card" *ngFor="let review of fetchedReviews">
        <mat-card-header>
            <div mat-card-avatar class="header_image"> </div>
            <mat-card-title>
                {{review.yourName}}
            </mat-card-title>
            <mat-card-subtitle><em> User </em></mat-card-subtitle>    
        </mat-card-header>
        <mat-card-content>
            <h3 class="hike_name_container"> {{review.hikeName}} </h3>
            <p>
                {{review.review}}
            </p>
            
        </mat-card-content>
        
</mat-card>
</div>